* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

* {
  font-family: "DM Sans", sans-serif;
}

body {
  max-width: 1500px;
  margin: auto;
  position: relative;
}

.skip-to-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -600px;
  left: 50%;
  margin-left: -85px;
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 700;
  width: 170px;
  height: 30px;
  border-radius: 5px;
  background-color: #d3573c;
  color: #000000;
}
.skip-to-content:focus {
  top: 6px;
}

@media (min-width: 1330px) {
  .header {
    display: flex;
    align-items: center;
  }
}
.header__logo {
  width: 150px;
  height: 37.5px;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 31px;
}
@media (min-width: 1330px) {
  .header__logo {
    width: 200px;
    height: 50px;
    margin-top: 42px;
    margin-left: 100px;
  }
}
.header__nav-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 40px;
}
@media (min-width: 1330px) {
  .header__nav-ul {
    margin-top: 15px;
  }
}
.header__nav-ul--li {
  text-align: center;
  height: 22px;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  padding: 3px 6px;
  color: #901c1c;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-right: 5px;
  margin-bottom: 6px;
}
.header__nav-ul--li:hover, .header__nav-ul--li:focus {
  cursor: pointer;
  background-color: #901c1c;
  color: #ffffff;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main {
  margin-top: 20px;
}
.main__headline {
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 0.875rem;
  color: #bf5138;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0em;
  text-align: center;
}
@media (min-width: 1330px) {
  .main__headline {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.9375rem;
    top: 44px;
    right: 106px;
  }
}
.main__overview {
  margin-top: 15px;
}
@media (min-width: 900px) {
  .main__overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1330px) {
  .main__overview {
    margin-top: 0;
  }
}

.photographer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 900px) {
  .photographer {
    flex-basis: 48%;
    margin-top: 20px;
  }
}
@media (min-width: 1330px) {
  .photographer {
    flex-basis: 32%;
    margin-top: 20px;
  }
}
.photographer__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer__link:visited, .photographer__link:link {
  color: #901c1c;
  text-decoration: none;
}
.photographer__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  background: #c4c4c4;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.photographer__name {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.9375rem;
  margin-top: 15px;
}
.photographer__location {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.0625rem;
  color: #901c1c;
}
.photographer__tagline {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.8125rem;
  margin-top: 3px;
}
.photographer__price {
  font-size: 0.5625rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #757575;
  margin-top: 3px;
}
.photographer__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6px;
  list-style: none;
}
.photographer__tag {
  text-align: center;
  height: 22px;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  padding: 3px 6px;
  color: #901c1c;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-right: 5px;
  margin-bottom: 6px;
}
.photographer__tag:hover, .photographer__tag:focus {
  cursor: pointer;
  background-color: #901c1c;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
