@import "./resets";

// ---------------------------------------- //
// ---------------VARIABLES---------------- //
// ---------------------------------------- //

$primary-background: #901c1c;
$primary-text-dark: #bf5138;
$primary-text-light: #ffffff;
$secondary-background-dark: #d3573c;
$secondary-background-light: #fafafa;
$secondary-text-dark: #901c1c;
$secondary-text-light: #525252;
$secondary-text-black: #000000;

$font: "DM Sans", sans-serif;

// ---------------------------------------- //
// ---------------COMPONENTS--------------- //
// ---------------------------------------- //

// ---------------------------------------- //
// -----------------MIXINS----------------- //
// ---------------------------------------- //

@mixin button-static {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: $primary-background;
  //   padding: 23px 51px;
  line-height: getRem(23);
  font-size: getRem(18);
  font-weight: 700;
}

@mixin button-hover-focus {
  background-color: $secondary-background-dark;
  color: $secondary-text-black;
}

@mixin tag {
  // display: flex;
  // justify-content: center;
  // align-content: center;
  text-align: center;
  height: 22px;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  padding: 3px 6px;
  color: $secondary-text-dark;
  font-weight: 500;
  font-size: getRem(12);
  line-height: getRem(16);
  margin-right: 5px;
  margin-bottom: 6px;
}

@mixin tag-focus {
  background-color: $primary-background;
  color: $primary-text-light;
  // outline: none;
}

@mixin tag-hover {
  cursor: pointer;
}

@mixin responsive {
  @media (min-width: 1330px) {
    @content;
  }
}

// ---------------------------------------- //
// ---------------FUNCTIONS---------------- //
// ---------------------------------------- //

@function getRem($font-size) {
  @return ($font-size/16) * 1rem;
}

// ---------------------------------------- //
// -----------------BODY------------------- //
// ---------------------------------------- //

* {
  font-family: $font;
}

// ---------------------------------------- //
// ----------------HEADER------------------ //
// ---------------------------------------- //

.skip-to-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -600px;
  left: 50%;
  margin-left: -85px;
  font-size: getRem(18);
  text-decoration: none;
  font-weight: 700;
  width: 170px;
  height: 30px;
  border-radius: 5px;
  background-color: $secondary-background-dark;
  color: $secondary-text-black;
  &:focus {
    top: 6px;
  }
}

.header {
  @include responsive {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 150px;
    height: 37.5px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 31px;
    @include responsive {
      width: 200px;
      height: 50px;
      margin-top: 42px;
      margin-left: 100px;
    }
  }

  &__nav-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 40px;
    @include responsive {
      margin-top: 15px;
    }
    &--li {
      @include tag;
      &:hover,
      &:focus {
        @include tag-hover;
        @include tag-focus;
      }
      // &[data-state="active"] {
      //   @include tag-focus;
      // }
    }
  }
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// ---------------------------------------- //
// -----------------MAIN------------------- //
// ---------------------------------------- //

.main {
  margin-top: 20px;
  &__headline {
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: getRem(14);
    color: $primary-text-dark;
    font-weight: 400;
    line-height: getRem(18);
    letter-spacing: 0em;
    text-align: center;
    @include responsive {
      font-size: getRem(36);
      font-weight: 400;
      line-height: getRem(47);
      top: 44px;
      right: 106px;
    }
  }
  &__overview {
    margin-top: 15px;
    @include responsive {
      margin-top: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.photographer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include responsive {
    flex-basis: 32%;
    margin-top: 20px;
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:visited,
    &:link {
      color: $secondary-text-dark;
      text-decoration: none;
    }
  }

  &__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    background: #c4c4c4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  }
  &__name {
    font-size: getRem(36);
    font-weight: 400;
    line-height: getRem(47);
    margin-top: 15px;
  }
  &__location {
    font-size: getRem(13);
    font-weight: 400;
    line-height: getRem(17);
    color: $secondary-text-dark;
  }
  &__tagline {
    font-size: getRem(10);
    font-weight: 400;
    line-height: getRem(13);
    margin-top: 3px;
  }
  &__price {
    font-size: getRem(9);
    font-weight: 400;
    line-height: getRem(12);
    color: #757575;
    margin-top: 3px;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6px;
    list-style: none;
  }
  &__tag {
    @include tag;
    &:hover,
    &:focus {
      @include tag-hover;
      @include tag-focus;
    }
    // &[data-state="active"] {
    //   @include tag-focus;
    // }
  }
}
