{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods",
    // "@babel/transform-runtime",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "regenerator": true
      }
    ]
  ]
}
